<a href="https://colab.research.google.com/github/ssubbinn/ESAA/blob/main/6%EC%A3%BC%EC%B0%A8_%ED%95%84%EC%82%AC_%EA%B3%BC%EC%A0%9C_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## datetime 오브젝트

- 날짜와 시간을 처리하는 기능을 제공하는 라이브러리

date: 날짜

time: 시간

datetime: 날짜, 시간

In [8]:
from datetime import datetime

now1=datetime.now()
print(now1)

2022-10-09 08:48:10.997656

In [9]:
now2=datetime.today()
print(now2)

2022-10-09 08:48:36.184124

In [10]:
#시간 직접 입력
t1=datetime.now()
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-10-09 08:50:07.798542
1970-01-01 00:00:00
1970-12-12 13:24:34

In [11]:
#시간 계산
diff1 = t1-t2

print(diff1)
print(type(diff1))

19274 days, 8:50:07.798542
<class 'datetime.timedelta'>

In [12]:
diff2 = t2-t1

print(diff2)
print(type(diff2))

-19275 days, 15:09:52.201458
<class 'datetime.timedelta'>

### 테슬라 주식 데이터로 시간 계산하기

In [14]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)

In [29]:
#데이터 불러오기
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pdr.get_data_quandl('TSLA', api_key = 'X5aZJefmob3vp_xs1DsJ')

tesla.to_csv('/content/drive/MyDrive/김수빈/esaa/data/tesla_stock_quandl.csv')

In [30]:
#date 열이 문자열인것 확인
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [33]:
#Date 열을 Datetime 형으로 변환
tesla=pd.read_csv('/content/drive/MyDrive/김수빈/esaa/data/tesla_stock_quandl.csv', parse_dates=[0]) # parse_dates 인자에 Date열 전달
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        115 non-null    datetime64[ns]
 1   Open        115 non-null    float64
 2   High        115 non-null    float64
 3   Low         115 non-null    float64
 4   Close       115 non-null    float64
 5   Volume      115 non-null    float64
 6   ExDividend  115 non-null    float64
 7   SplitRatio  115 non-null    float64
 8   AdjOpen     115 non-null    float64
 9   AdjHigh     115 non-null    float64
 10  AdjLow      115 non-null    float64
 11  AdjClose    115 non-null    float64
 12  AdjVolume   115 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.8 KB
None

In [34]:
#dt 접근자 사용하여 2010 6월 데이터 추출
print(tesla.loc[(tesla.Date.dt.year == 2010)&(tesla.Date.dt.month == 6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

### datetime 오브젝트와 인덱스 - DatetimeIndex

In [35]:
#Date열을 tesla 데이터프레임의 인덱스로 지정
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-23', '2017-10-20', '2017-10-19', '2017-10-18',
               '2017-10-17', '2017-10-16', '2017-10-13', '2017-10-12',
               '2017-10-11', '2017-10-10'],
              dtype='datetime64[ns]', name='Date', length=115, freq=None)

In [37]:
#2015년 데이터 추출
print(tesla['2015'].iloc[:5,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [38]:
#2010년 6월 데이터 추출
print(tesla['2010-06'].iloc[:,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

### 시간 간격과 인덱스 - TimedeltaIndex

시간 간격을 인덱스로 지정하여 데이터 추출

In [39]:
#시간-시간의 최솟값=시간 간격
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 168 days
2018-03-26 167 days
2018-03-23 164 days
2018-03-22 163 days
2018-03-21 162 days

In [40]:
#ref_date로 인덱스 설정
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
168 days 2018-03-27  304.00  304.27  277.18  279.18
167 days 2018-03-26  307.34  307.59  291.36  304.18
164 days 2018-03-23  311.25  311.61  300.45  301.54
163 days 2018-03-22  313.89  318.82  308.18  309.10
162 days 2018-03-21  310.25  322.44  310.19  316.53

In [41]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High       Low   Close
ref_date
3 days   2017-10-13  356.98  358.49  353.6800  355.57
2 days   2017-10-12  352.95  359.78  352.6400  355.68
1 days   2017-10-11  353.89  357.60  351.1500  354.60
0 days   2017-10-10  346.80  355.63  345.5305  355.59

### 시간 범위와 인덱스

- 특정일에 데이터가 누락되어 있을때

In [44]:
ebola=pd.read_csv('/content/drive/MyDrive/김수빈/esaa/data/country_timeseries.csv',parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [45]:
print(ebola.iloc[:-5,:5]) #누락 확인 가능

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0   2015-01-05  289        2776.0            NaN            10030.0
1   2015-01-04  288        2775.0            NaN             9780.0
2   2015-01-03  287        2769.0         8166.0             9722.0
3   2015-01-02  286           NaN         8157.0                NaN
4   2014-12-31  284        2730.0         8115.0             9633.0
..         ...  ...           ...            ...                ...
112 2014-04-04   13         143.0           18.0                2.0
113 2014-04-01   10         127.0            8.0                2.0
114 2014-03-31    9         122.0            8.0                2.0
115 2014-03-29    7         112.0            7.0                NaN
116 2014-03-28    6         112.0            3.0                2.0

[117 rows x 5 columns]

In [47]:
# 2014 12-31 부터 2015 1-5사이의 시간 인덱스 생성
head_range=pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [48]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

### 시간 범위의 주기 설정하기

시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어진다. Datetimeiindex에는 freq 속성이 포함되어 있다. freq속성값 지정 시 시간간격을 조절하여 DatetimeIndex를 만들 수 있다.


freq속성 값으로 사용할 수 있는 시간 주기

- B: 평일만 포함
- C: 사용자가 정의한 평일만 포함
- D: 달력 일자 단위
- W: 주간 단위
- M: 월 마지막 날만 포함
- SM: 15일과 월 마지막 날만 포함
- BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM: BM에 사용자 정의 평일을 적용
- MS: 월 시작일만 포함
- SMS: 월 시작일과 15일만 포함
- BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
- CBMS: BMS에 사용자 정의 평일을 적용
- Q: 3,6,9,12월 분기 마지막 날만 포함
- BQ: 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
- QS: 3,6,9,12월 분기 시작일만 포함
- BQS: 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함
- A: 년의 마지막 날만 포함
- BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
- AS:년의 시작일만 포함
- BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
- BH: 평일을 시간 단위로 포함(09:00~16:00)
- H: 시간 단위로 포함(00:00~00:00)
- T: 분 단위 포함
- S: 초 단위 포함
- L: 밀리초 단위 포함
- U: 마이크로초 단위포함
- N: 나노초 단위 포함